@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: 300ms linear;
}

body {
  padding: 0;
  margin: 0;
}

.semibold {
  font-weight: 500;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.error {
  color: orangered;
}

.alert {
  position: relative;
  border: 1px solid grey;
  max-width: fit-content;
}

.alert > p {
  font-size: 1rem;
  margin: 0.6rem 1.2rem;
  text-wrap: wrap;
}

.alert.error {
  border: 1px solid rgb(165, 45, 1);
  background: rgb(255, 197, 176);
  color: darkred;
  border-radius: 7px;
}

.alert.success {
  border: 1px solid rgba(0, 100, 0, 0.6);
  background: rgb(208, 255, 217);
  color: darkgreen;
  border-radius: 7px;
}

div.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

input.form-input,
textarea.form-input,
select.form-select {
  padding: 0.5rem 0.8rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 3.5px;
  margin: 0.4rem 0;
}

.btn {
  margin-block: 0.5rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  padding: 0.5rem 1rem;
  background: rgb(240, 240, 240);
  color: rgb(56, 56, 56);
  outline: none;
  border-radius: 3.5px;
  border: 1px solid rgb(200, 200, 200);
  transition: 0.5s;
  font-weight: bold;
  cursor: pointer;
}

.btn.block {
  width: 100%;
}

.btn-primary {
  background: #0055ff;
  /* border: 1px solid #0d378d; */
  color: white;
}

.btn-secondary {
  background: #0055ff;
  border: 1px solid rgb(200, 200, 200);
}

.btn-success {
  background: green;
  border: 1px solid rgb(200, 200, 200);
}

.info-text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.muted-text {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}

div.muted-text {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 0.75rem;
}

.muted-text > ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.text-center {
  text-align: center;
}

span.info-text.text-center {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  overflow: hidden;
}

.mt-1 {
  margin-top: 1rem;
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
  display: block;
}

div.block {
  width: 100%;
  max-width: 100%;
}

a:visited {
  color: #0000ee;
}

.text-sm {
  font-size: 0.8rem;
}

.text-white {
  color: white !important;
}

.decoration-none {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1rem;
}

.btn.btn-outlined {
  border: 1px solid gray;
  border-radius: 21px;
  font-weight: 400;
  font-size: 0.9rem;
  background: rgb(247, 247, 247);
}

.btn.btn-outlined:hover {
  background: rgb(240, 240, 240);
}
