@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');


:root {
  font-family: 'Roboto', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: 300ms linear;
}

body {
  padding: 0;
  margin: 0;
}

.error {
  color: orangered;
}

.alert {
  position: relative;
  border: 1px solid grey;
  max-width: fit-content;
}

.alert>p {
  font-size: 1rem;
  margin: .6rem 1.2rem;
  text-wrap: wrap;
}

.alert.error {
  border: 1px solid rgb(165, 45, 1);
  background: rgb(255, 197, 176);
  color: darkred;
  border-radius: 3.5px;
}

div.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

input.form-input,
select.form-select {
  padding: .5rem .8rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 3.5px;
  margin: .4rem 0;
}

.btn {
  margin-block: .5rem;
  font-size: 1rem;
  width: fit-content;
  padding: .5rem 1rem;
  background: rgb(240, 240, 240);
  color: rgb(56, 56, 56);
  outline: none;
  border-radius: 3.5px;
  border: 1px solid rgb(200, 200, 200);
  transition: 0.5s;
  font-weight: bold;
  cursor: pointer;
}

.btn.block {
  width: 100%;
}

.btn-primary {
  background: #0055ff;
  border: 1px solid rgb(200, 200, 200);
  color: white;
}

.btn-secondary {
  background: #0055ff;
  border: 1px solid rgb(200, 200, 200);
}

.btn-success {
  background: green;
  border: 1px solid rgb(200, 200, 200);
}

.info-text {
  color: rgba(0, 0, 0, .90);
  font-size: .9rem;
  font-style: italic;
  margin-bottom: .2rem;
  display: inline-block;
}

span.info-text.text-center {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  overflow: hidden;
}

.mt-1 {
  margin-top: 1rem;
}

div.block {
  width: 100%;
  max-width: 100%;
}

a:visited {
  color: #0000ee;
}

input[type="search"] {
  padding-block: .4rem;
  padding-left: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border: 1px solid blue;
  border-radius: 3.5px;
  margin: .4rem 0;
  width: 400px;
  margin-left: 4px;
  letter-spacing: .3px;
  outline: none;
}

@media screen and (max-width: 600px) {
  input[type="search"] {
    width: auto;
    font-size: 1em;
  }
}
